html, body {
    width: 100vw;
    overflow: hidden;
    background-color: #1D1D1D;    
    background-image: url("../img/igloo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: 50% 25%;
    background-size: 100vw;
}

.title {
    width: calc(100vw - 70px);
    border: 10px solid #1D6A7E;
    background-color: rgba(83,179,203,0.7);
    margin-left: 20px;
	margin-right: 0.5vw;
    z-index: -1;
}

/* home page */
.homebuttons {
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-columns: min-content;   
    grid-template-columns: calc(100vw - 50px);
    margin: 4px 0 0 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 151px);
	width: calc(100vw - 41px);
}

.homebuttons a {
    text-decoration: none;
}

/* buttons */

homebutton1 a:hover {
  background-color: rgba(99,159,171,0.9);
}


.homebutton1 {
    grid-column: 1;
	grid-row: 1;
    background-color: rgba(99,159,171,0.7);
    border: 10px solid #B8D3DA;
}

.homeimg1 {
	grid-row: 2;
	grid-column: 1;
	margin-top: -10px;
}

.homebutton2 {
    grid-column: 1;
	grid-row: 3;
    background-color: rgba(184,211,218,0.7);
    border: 10px solid #B8D3DA;
}

.homeimg2 {
	grid-row: 4;
	grid-column: 1;
    background-color: rgba(99,159,171,0.7);
    border: 10px solid #B8D3DA;
	margin-top: -10px;
}

.homebutton3 {
    grid-column: 1;
	grid-row: 5;
    background-color: rgba(99,159,171,0.7);
    border: 10px solid #B8D3DA;
	margin-top: -10px;
}

.homeimg3 {
	grid-row: 6;
	grid-column: 1;
	margin-top: -10px;
}

.homebutton4 {
    grid-column: 1;
	grid-row: 7;
    background-color: rgba(184,211,218,0.7);
    border: 10px solid #B8D3DA;
	margin-top: -10px;
}

.homeimg4 {
	grid-row: 8;
	grid-column: 1;
    background-color: rgba(99,159,171,0.7);
    border: 10px solid #B8D3DA;
	margin-top: -10px;
}

.homeimg1, .homeimg3{
    background-color: rgba(184,211,218,0.7);
    border: 10px solid #B8D3DA;
}

.homebuttons img {
  	width: calc(100vw - 70px);  
}


@media (min-width: 500px) {
    .homebuttons {
        width: calc(100vw - 56px);
        height: calc(100vh - 185.8px);
        grid-template-columns: 44.5vw 44.5vw;
    }
      .homebutton1 {
        grid-column: 1;
        grid-row: 1;
        height: 49px;
    }

    .homeimg1 {
        grid-row: 2;
        grid-column: 1;
        margin-top: -10px;
    }

    .homebutton2 {
        grid-column: 2;
        grid-row: 1;
        height: 49px;
    }

    .homeimg2 {
        grid-row: 2;
        grid-column: 2;
        margin-top: -10px;
    }

    .homebutton3 {
        grid-column: 1;
        grid-row: 3;
        height: 49px;
        margin-top: -10px;
    }

    .homeimg3 {
        grid-row: 4;
        grid-column: 1;
        margin-top: -10px;
    }

    .homebutton4 {
        grid-column: 2;
        grid-row: 3;
        height: 49px;
        margin-top: -10px;
    }

    .homeimg4 {
        grid-row: 4;
        grid-column: 2;
        margin-top: -10px;
    }
    .homebuttons img {
        width: 41vw;  
    } 
}