.mainingredients {
    background-color: rgba(184, 211, 218, 0.7);
    border: 10px solid;
    border-color: #b8d3da;
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100vw - 75px);
    height: calc(100vh - 204px);
    overflow-y: scroll;
}

.organic {
    width: calc(100vw - 135px);
    background-color: rgba(0, 88, 111, 0.6);
    text-align: right;
    margin: 10px 0 0 60px;
    font-size: 1.2vw;
    color: aliceblue;
    border: double;
}

.organic p {
    padding: 5px;
    margin: 0;
    font-family: "Caudex";
}

.ingredientstitle {
    padding-top: 1px;
    background-color: rgba(184, 211, 218, 0.6);
    border-bottom: 7px solid;
    border-color: rgba(184, 211, 218, 0.9);
}

.name {
    margin: -7px;
    background-color: rgba(41, 109, 123, 0.6);
    padding: 1px;
}

.ingredients1 {
    background-color: rgba(14, 126, 149, 0.59);
    border: 7px solid;
    border-color: rgba(99, 159, 171, 0.9);
    margin-bottom: 7px;
    padding: 7px;
}

.ingredients2 {
    background-color: rgba(99, 159, 171, 0.4);
    border: 7px solid;
    border-color: rgba(99, 159, 171, 0.9);
    margin: 0 0 7px 0;
    padding: 7px;
}

@media (min-width: 500px) {
    .mainingredients {
        height: calc(100vh - 246px);
    }
}
@media (min-width: 700px) {
    .mainingredients {
        display: grid;
        grid-auto-rows: min-content;
        /*grid-auto-columns: min-content;*/
        grid-template-columns: calc(50vw - 39px);
        height: calc(100vh - 265px);
    }
    .ingredients1 {
        grid-column: 1;
    }
    .ingredients2 {
        grid-column: 2;
        margin: 0 0 7px 7px;
    }
    .ingredientstitle {
        width: inherit;
    }
}
@media (min-width: 900px) {
    .mainingredients {
        height: calc(100vh - 279px);
    }
}
