.image img{
	width: 42vw;
	z-index: -2;	
    text-align: center;
}

.imagelarge {
	width: 50vw;
    display: flex;
 	align-items: center;
}

.imagelarge img{
	z-index: 0;
	width: 50vw;
}

.halfimages img {
    width: calc(100vw - 90px);
    border: 10px solid #B8D3DA;
}

#hibiscus {
    height: 14vw;
    position: absolute;
    left: 38px;
    top: 50px;
    z-index: 0;
    display: none;
}

#hibiscus1 {
    height: 14vw;
    position: absolute;
    right: 25px;
    top: 50px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 0;
    display: none;
}

#blackhibiscus {
    height: 14vw;
    position: absolute;
    left: 45px;
    top: 280px;
    z-index: -1;
}

#blackhibiscus1 {
    height: 14vw;
    position: absolute;
    right: 25px;
    top: 280px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: -1;
}

@media (min-width: 500px) {
    .halfimages img {
        width: 44vw;
    }
}