/*about*/

.aboutbuttons {
	display: grid;
    margin: 12px 0 0 0;
	overflow-y: hidden;
    overflow-x: hidden;
    height: calc(100vh - 143.4px);
	width: calc(100vw - 23px);
}

.aboutbuttons a:link {
    text-decoration: none;
}

.about {
    width: calc(100vw - 40px);
	height: calc(100vh - 202.2px);
    margin: 0 0 0 20px;
}

.aboutinner {
    width: calc(100vw - 84px);
	background-color: rgba(99,159,171,0.9);
    border-right: 10px solid;
    border-left: 10px solid;
    border-bottom: 10px solid;
    border-color: #639FAB;
    padding: 15px 5px 0 9px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 272px);
}

.button--primary {
    grid-column: 1;
    background-color: rgba(99,159,171,0.7);
    border: 10px solid;
    border-color: #639FAB;
}

button--primary a:hover {
  background-color: rgba(99,159,171,0.9);
}

.button--secondary {
    grid-column: 2;
    background-color: rgba(184,211,218,0.7);
    border: 10px solid;
    border-color: #B8D3DA;
}

.aboutbutton--primary {
    grid-column: 1;
    background-color: rgba(99,159,171,0.7);
    border: 10px solid;
    border-color: #639FAB;
	width: calc(100vw - 70px);
}

aboutbutton--primary a:hover {
  background-color: rgba(99,159,171,0.9);
}

.aboutbutton--secondary {
    background-color: rgba(184,211,218,0.7);
    border: 10px solid;
    border-color: #B8D3DA;
}

.inneringredients {
	display: block;
    background-color: rgba(184,211,218,0.9);
}
.inneringredients h2 {
	margin: 0 -5px 0 -5px; 
	padding: 5px; 
	background-color: rgba(99,159,171,0.6); 
	border: 5px solid #639FAB;
}
.inneringredients a{
	padding: 20px;
}
.aboutingredients {
    grid-column: 1;
	grid-row: 2;
    margin-left: 20px;
	display: none;
}

.ingredientsinner {
    background-color: rgba(184,211,218,0.9);
    border-right: 10px solid;
    border-left: 10px solid;
    border-bottom: 10px solid;
    border-color: #B8D3DA;
    padding: 15px;
    grid-column: 2;
    height:  auto;
    overflow: hidden;
}

	.aboutimages {
        width: calc(100vw - 96px);        
    }
    .aboutimages img {
        width: calc(100vw - 97px);
    }


@media (min-width: 300px) {
	.aboutinner {
		height: calc(100vh - 235px);
	}

}

@media (min-width: 500px) {
    .aboutbuttons {
    	overflow-y: hidden;	
    }
}

@media (min-width: 590px) {

	.aboutingredients {
        grid-column: 2;
        grid-row: 1;
        margin-left: 20px;
        margin-top: 0;
        margin-right: 5px;
		display: block;
	}
	
	.inneringredients {
		display: none;
	}
	.aboutbutton--primary {
		width: 60vw;	
    }  
    .about {
		width: 60vw;
    }
	.aboutinner {
    	width: calc(60vw - 14px);
		height: calc(100vh - 335px);
	}
	.aboutimages {
        width: 60vw;        
    }
    .aboutimages img {
        width: 56.5vw;
    }
	
	
}