p {
	text-align: center;
	/*font-family: "Goudy Bookletter 1911";*/
	font-family: "Spectral";
	font-size: 4.5vw;
}

.reggae-one-regular {
	font-family: "Reggae One";
	font-weight: 400;
	font-style: normal;
	color: white;
	text-align: center;
	font-size: 9vw;
}

h1 {
	font-family: "Reggae One";
	color: white;
	font-size: 5vw;
	text-align: center;
	border: 0;
	margin: 0 0 15px 0;
}

h2 {
	/*    padding: 10px;*/
	margin: 5px;
	text-align: center;
	font-family: "Reggae One";
	/*    font-size: 4.5vw;  */
	font-size: 7vw;
	color: white;
}

h3 {
	margin: 5px;
	text-align: center;
	font-family: "Reggae One";
	font-size: 5.5vw;
}

h4 {
	font-size: 5vw;
	font-family: "Goudy Bookletter 1911";
	font-weight: 600;
	margin: 5px;
}

li {
	/*list-style-type: none;*/
	list-style-type: "⪢ ";
	font-family: "Goudy Bookletter 1911";
	font-size: 4.1vw;
}

ul {
	margin-left: -10px;
}

.a {
	font-size: 4vw;
	list-style-type: none;
}

.b {
	font-size: 3.5vw;
	margin-left: 12px;
}

.c {
	margin-left: 38px;
	font-size: 3.2vw;
}

.flavor {
	font-size: 3vw;
	margin-left: 37px;
}

.small {
	font-size: 20px;
}

.title .reggae-one-regular {
	font-family: "Reggae One", cursive, Arial, sans-serif;
	font-size: 2.3em;
	color: #222;
	letter-spacing: 2px;
	/*text-shadow: 0 2px 6px #eee9;*/
	margin: 0;
	font-weight: bold;
}
.title h1 {
	margin: 0 0 0 10px;
	font-size: 2em;
	color: var(--blue1);
	/*text-shadow: 0 2px 6px #eee9;*/
	font-family: inherit;
}

.homebutton a {
	text-decoration: none;
	color: var(--blue1);
	background: none;
	display: block;
	padding: 0.7em 1em 0.35em 1em;
}
.homebutton a h2 {
	margin: 0;
	font-size: 1.45em;
	letter-spacing: 1.4px;
	font-family: inherit;
	font-weight: bold;
	/*text-shadow: 0 1px 4px #fff7;*/
}

@media (min-width: 500px) {
	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 3.5vw;
	}

	h4 {
		font-size: 21px;
	}
	p {
		font-size: 17px;
	}
	li {
		font-size: 2.5vw;
	}
	.reggae-one-regular {
		font-size: 59px;
	}
	.a {
		font-size: 25px;
	}
	.c {
		font-size: 17px;
	}
	.flavor {
		font-size: 2.3vw;
	}
}
@media (min-width: 680px) {
	.reggae-one-regular {
		font-size: 75px;
	}
}
