/*ingredients*/

.mainingredients {
    background-color: rgba(184,211,218,0.7);
    border: 10px solid;
    border-color: #B8D3DA;
    margin-left: 20px;
    margin-top: 10px;
	width: calc(100vw - 70px);
	height: calc(100vh - 162px);
	overflow-y: scroll;
}

.organic {
    text-align: right;
    margin: 0;
    font-size: 1.2em;
}

.ingredientstitle {
    margin-top: -10px;
    background-color: rgba(184,211,218,0.6);
    border-bottom: 7px solid;
    border-color: rgba(184,211,218,0.9);
}

.ingredients1 {
    background-color: rgba(99,159,171,0.4);
    border: 7px solid;
    border-color: rgba(99,159,171,0.9);
    margin-bottom: 7px;
    padding-left: 20px;
}
.ingredients2 {
    background-color: rgba(99,159,171,0.4);
    border: 7px solid;
    border-color: rgba(99,159,171,0.9);
    margin-bottom: 7px;
    padding-left: 20px;
}

/*flavors*/

.bodybox {
    display: grid;
	grid-auto-rows: min-content;
	/*grid-auto-columns: min-content;*/
    color: white;
    margin-top: 8px;
	width: calc(100vw - 34px);
	margin-left: 20px;
	overflow-y: scroll;
	height: calc(100vh - 158px);
}

.column1 {
    background-color: rgba(99,159,171,0.7);
    border: 10px solid #639FAB;
    grid-column: 1;
	grid-row: 1;
    display: grid;
	grid-auto-columns: min-content;
    width: calc(100vw - 70px);
    height: auto;
}

.column2 {
    background-color: rgba(184,211,218,0.7);
    border: 10px solid #B8D3DA;
    grid-column: 1;
	grid-row: 2;
    width: calc(100vw - 70px);
    height: auto;
	display: none;
}

.innerlist {
	display: block;
}

.innertitle h3{
	font-size: 6vw;
	margin: 0 -5px 0 -5px; 
	padding: 5px; 
	background-color: rgba(99,159,171,0.6); 
	border: 5px solid #639FAB
}

.smalltitle1 {
    background-color: rgba(99,159,171,0.7);
    border-bottom: 7px solid;
    border-color: rgba(99,159,171,0.9);
    grid-row: 1;
}

.smalltitle2 {
    background-color: rgba(184,211,218,0.7);
    border-bottom: 7px solid;
    border-color: rgba(184,211,218,0.9);
    margin-top: -5px;
	padding-top: 1vw;
	grid-row: 1;
}

.flavorslist1 {
    grid-row: 2;
	width:  calc(100vw - 70px);
}

.flavorslist1 a{
	text-decoration: none;
}

.flavorslist2 {
    grid-row: 2;
}

.innerflavorslist {
	background-color: rgba(184,211,218,0.7);
	display: block;
	margin: -16px 0;
}

.name {
    background-color:  rgba(99,159,171,0.6);
    border: none;
    margin-top: -10px;
    margin-left: -25px;
}

@media (min-width: 500px) {
    .column1 {
        grid-column: 1;
        grid-row: 1;
	    width: 42vw;
	    height: calc(100vh - 202px);
    }
    .column2 {
        grid-column: 2;
        grid-row: 1;
	    width: 42vw;
	    height: calc(100vh - 202px);
		display: block;
    }
    .buttons {
        overflow-y: scroll;
    }
	.innerlist {
		display: none;
	}
	.smalltitle1 {
	    height: 7vw;
	}
	.smalltitle2 {
	    height: 7vw;
	}
	.innerflavorslist {
		display: none;
	}
}