::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 1vw;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.4);
      /*-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);*/
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.6);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

.side-bar{
	background: #1b1a1b;
	backdrop-filter: blur(15px);
	width: 180px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -180px;
	overflow-y: auto;
	transition: 0.6s ease;
	transition-property: left;
	z-index: 1;
}
.side-bar::-webkit-scrollbar {
	width: 0;
}
.side-bar.active{
	left: 0;
}

.side-bar .menu{
	width: 100%;
	margin-top: 30px;
}

.side-bar .menu .item{
	position: relative;
	cursor: pointer;
}

.side-bar .menu .item a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	display: block;
	padding: 5px 30px;
	line-height: 60px;
}

.side-bar .menu .item a:hover{
	background: #33363a;
	transition: 0.3s ease;
}

.side-bar .menu .item i{
	margin-right: 15px;
}

.side-bar .menu .item a .dropdown{
	position: absolute;
	right: 0;
	margin: 20px;
	transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
	background: #262627;
	display: none;
}

.side-bar .menu .item .sub-menu a{
	padding-left: 80px;
}

.close-btn{
	position: absolute;
	color: #fff;
	font-size: 23px;
	right:  0;
	margin: 15px;
	cursor: pointer;
}

.menu-btn{
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 15px;
	margin: 0;
	cursor: pointer;
}

.menuwords {
	font-family: "Reggae One";
	color: white;
	font-size: 28px;
	text-align: center;
	border: 0;
	padding-bottom: 5px;
	margin: 0 0 15px 0;
	background-color: #222222;
}

#logo{
	width: 130px;
	margin: 10px;
	margin-left: 24px;
	border-radius: 50%;
	/*  border: 3px solid #b4b8b9;*/
}
header{
	background: #33363a;
}
