html {
	height: 100%;
}

body {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100vh;
	color: #7f8c8d;
	font-size: 13px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 0 10px;
}

.index {
	background-color: #1d1d1d;
	outline: 1px solid white;
	padding: 0 10px 10px 10px;
	float: right;
	width: 240px;
	margin: 15px 5px 0 10px;
	
}
.index h6 {
	margin-left: 3px;
	font-size: 18px;
}
h7 {
	margin-left: 18px;
	font-size: 15px;
}

.questions {
	color: #cecece;
}

.callout {
	background-color: #2f2f2f;
	outline: 1px solid white;
	padding: 2px 10px 2px 10px;
	color: #cccccc;
}

.callout1 {
	background-color: #525252;
	outline: 1px solid white;
	padding: 2px 0 2px 0;
	color: #cccccc;
}

.callout2 {
	background-color: #2f2f2f;
	outline: 1px solid white;
	padding: 2px 10px 2px 10px;	
}

.callout4title {
	background-color: #1f1f1f;
	float: right;
	outline: 1px solid white;
	padding: 0;
	margin: 10px;
}
.callout4title h4 {
		font-size: 20px;
}
.callout4 {
	background-color: #2f2f2f;
	outline: 1px solid white;
	padding: 5px 0 0 0;
	color: #cccccc;
	width: 235.43px;
}
.callout4 ol {
	padding: 0 0 5px 20px;
	margin: 0 5px 0 5px;
}

.image {
	width: 100%
}

.image img {
	width: 75vw;
}

.caravanarchy {
	position: absolute;
	right: 63px;
	top: 5px;
}

.caravanarchy:hover {
	background-color: white;
	color: black;
}

.warning {
	background-color: #5a0000;
	text-align: center;
	margin-top: -30px;
	padding: 5px;
	}

a {
	text-decoration: none;
	color: #cccccc;
}

a:-webkit-any-link {
	color: #cccccc;
	text-decoration: none;
}
li {
	font-size: 2vw;
	font-family: spectral;	
}

p {
	font-size: 2vw;
	font-family: spectral;
}
h1 {
	font-size: 10vw;
	text-align: center;
	margin: 0;
	margin-left: -5px;
	font-family: 'Averia Serif Libre';
	color: white;
}

h2 {
	font-size: 5vw;
	color: white;	
	margin: 5px;
	margin-top: 30px;
	font-family: caudex;
}

.side_header {
	font-size: 25px;
	text-align: center;
	margin: 0;
	margin-left: -5px;
	font-family: caudex;
	color: white;
}

h3 {
	font-size: 3vw;
	text-align: center;
	margin: 0;
	margin-left: -5px;
	font-family: caudex;
	color: white;
	text-decoration: none;
}
h4 {
	font-size: 2.5vw;
	padding: 0;
	margin: 5px;
	font-family: caudex;
	text-align: center;
	color: white;
}


h5 {
	font-size: 2vw;
	padding: 0;
	margin: 5px;
	font-family: caudex;
	color: white;	
}

h6 {
	margin: 6px;
	margin-left: 40px;
	font-size: 1.5vw;
}

#logo {
/*	margin-left: 1vw;*/
	width: 17.5vw;
/*	margin-top: 1vw;*/
}

/* The Overlay (background) */
.overlay {
	  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(0,0,0); /* Black fallback color */
	background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.4s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
 	position: relative;
 	top: 25%; /* 25% from the top */
 	width: 100%; /* 100% width */
 	text-align: left; /* Centered text/links */
 	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
 	padding: 8px;
 	text-decoration: none;
 	font-size: 4vw;
 	color: #818181;
 	display: block; /* Display block instead of inline */
 	transition: 0.3s; /* Transition effects on hover (color) */
 	font-family: "Kode Mono", monospace;
}

.overlay p {
	font-size: 7vw;
	margin: 5px;
	font-family: "Share Tech Mono", monospace;
	padding: 5px;
	border: 5px solid #2f5569;
}

.overlay li {
	list-style-type: none;
	outline: none;
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
 	position: absolute;
 	top: 20px;
 	right: 45px;
 	font-size: 60px;
}

.logo {
	width: 30px;
	position: absolute;
	top: 3px;
	right: 3px;
	margin-right: 10px;
}

.logo1 {
	width: 30vw;
	position: absolute;
	top: -200px;
	right: 30vw;
	margin-right: 10px;
}

.logo img {
	max-width: 100%;
	max-height: 100%;
}

.logo1 img {
	max-width: 100%;
	max-height: 100%;
}

.topnav {
	overflow: hidden;
	background-color: #000000;
	padding: 5px;
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	margin: 0;
}

.topnav span {
	font-family: "Kode Mono", monospace;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.bodytext {
	width: 75vw;
	margin-left: 22vw;
	overflow: scroll;
}

.sidenav {
	width: 20vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow: hidden;
	padding: 0 0 10px 5px;
	height: 23.7vh;
/*	margin-bottom: 20px;*/
/*	bottom: 20px;*/
}

.side {
	width: 20vw;
	position: fixed;
	z-index: 1;
	top: 23.7vh;
	left: 0;
	background-color: #111;
	overflow: scroll;
	padding: 0 0 10px 5px;
	height: 73vh;
/*	margin-bottom: 20px;*/
/*	bottom: 20px;*/
}

.vehicles img {
	width: 46vw;
}

body, .side, .side {
	scrollbar-width: thin;
	scrollbar-color: #8f54a0 #000000;
  }

  /* Chrome, Edge, and Safari */
  .main, .side::-webkit-scrollbar {
	width: thin;
  }

  .main, .side::-webkit-scrollbar-track {
	background: #000000;
  }

  .main, .side::-webkit-scrollbar-thumb {
	background-color: #8f54a0;
	border-radius: 10px;
	border: 3px solid #ffffff;
  }

.side a, .dropdown-btn {
	font-family: 'Caudex';
	/*  padding: 6px 8px 6px 16px;*/
	padding: 5px;
	text-decoration: none;
	font-size: 2.5vw;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 20vw;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.dropdown-btn {
	margin-top: 5px;
	background-color: #111;
}

.dropdown-btn:active {
	margin-top: 5px;
}

.sidenav img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	image-rendering: pixelated;
}

.dropdown-container a, .dropdown-container-open a{
	font-family: 'Spectral';
	font-size: 1.5vw;
	padding: 3px 0 3px 5x;
/*	max-width: calc(20vw - 26px);*/
	color: #b5b5b5;
	max-width: 18.5vw;
}

/*
.dropdown-container a:hover {
	background-color: white;
	outline: 1px solid white;
}
*/

.thispage {
	background-color: black;
	outline: 1px solid white;
	color: white;
	padding: 3px 0 3px 1px;
	max-width: 19.7vw;
}
.thispage a:hover {
	width: 17.5vw;
	margin-left: .3vw;
}

.sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
}

.sidenav a:hover {
	color: #f1f1f1;
	background-color: #1f1f1f;
	outline: 0.5px solid white;
	margin-left: .3vw;
	max-width: 18vw;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: #5a5a5a;
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #262626;
	max-width: 20vw;
/*
	padding-left: 8px;
	margin-right: 5px;
*/
}

.dropdown-container-open {
	display: block;
	background-color: #272727;
	padding: 0 8px 0 8px;
	margin-right: 5px;
	/*  max-width: calc(20vw - 5px);*/
}
/* Optional: Style the caret down icon */

.fa-caret-down {
	float: right;
	padding-top: 5px;
	padding-right: 2px;
	color: white;
	font-size: 15px;
}

.fa-caret-right {
	float: right;
	padding-top: 5px;
	padding-right: 2px;
	color: white;
	font-size: 15px;    
}

.fa-bars {
	position: fixed;
	outline: none;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
  }
}

@media (max-width: 522px), (orientation:portrait) {
	body {
		max-height: 100%;
	}
	.sidenav {
		display: none;
	}
	
	.bodytext {
		margin-top: 40px;
		margin-left: 2vw;
		width: 94vw;
	}
	
	.image img {
	width: 92vw;
	margin-left: 0;
	}
	
	p {
		font-size: 4vw;
	}
	li {
		font-size: 4vw;
	}
	h1 {
		font-size: 9vw;
	}
	
	h2 {
		font-size: 7vw;
	}
	
	h3 {
		font-size: 6vw;
	}
	
	h4 {
		font-size: 5vw;
	}
	
	h5 {
		font-size: 4vw;
	}
	h6 {
		font-size: 3vw;
	}
	
	.logo {
		margin-right: 20px;
	}
	#logo {
		margin-top: 1px;
	}
}

@media (min-width: 523px) {
	.topnav {
		display: none;
	}
	.overlay {
		display: none;
	}
	 .sidenav {
		display: block;
	}
	p {
		font-size: 3vw;
	}
	li {
		font-size: 3vw;
	}
	.side_header {
		font-size: 20px;
	}
}

@media (523px < width < 900px){

	.sidenav {
		padding: 5px 5px 0 5px;
	} 
	
	.side {
		padding: 5px 5px 18px 5px;
	} 
	.bodytext {
		margin-left: 22vw;
		width: 75vw;
	}
	.dropdown-container a, .dropdown-container-open a{
	  font-size: 14px;
	}
	p {
		font-size: 15px;
	}
	li {
		font-size: 15px;
	}
}

@media (min-width: 801px) {
	.sidenav a, .dropdown-btn {
	  font-size: 18px;
	}

	.dropdown-container a, .dropdown-container-open a{
	  font-size: 16px;
	}
}

@media (min-width: 900px) {
	p {
		font-size: 1.5vw;
	}
	li {
		font-size: 1.5vw;
	}
	#logo {
		width: 160px;
		margin-left: 10.14px;
		margin-top: 10.14px;
	}
	.sidenav {
		width: 187px;
		height: 200px;
	}
	.side {
		width: 187px;
		top: 210px;
		height: calc(100vh - 222px);
		padding-bottom: 18px;
	}
	.dropdown-btn {
	max-width: 182px;
	}
	.dropdown-container {
	max-width: 182px;
	}
	.dropdown-container a:hover {
	max-width: 182px;
	}
	.side_header {
		font-size: 21px;
	}
	.bodytext {
		width: calc(100vw - 225px);
		margin-left: 200px;
	}
}

@media (min-width: 1200px) {
	p {
		font-size: 1.2vw;
	}
	li {
		font-size: 1.5vw;
	}
	.image img {
		width: 86vw;
	}
	.vehicles img{
		width: 43vw;
	}
}

@media print {
	.sidenav {
		display: none;
	}
	.pdf object{
		width: 100vw;
		height: 100vh;
		margin-left: 0;
		display: block;
	}     
}
