html {
	height: 100%;
    font-size: 10px;
    box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 0, 0.9);
	background-image: url("../img/compass.jpeg");
    background-attachment: fixed;
	background-size: 100%;
	height: 100vh;
	color: #7f8c8d;
	font-size: 13px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
    max-height: 100%;
	scrollbar-width: thin;
	scrollbar-color: #8f54a0 #000000;
}

.warning {
	background-color: #5a0000;
	text-align: center;
	margin-top: -30px;
	padding: 5px;
	}

.bodytext {
	/*overflow: scroll;*/
    margin-top: 40px;
    margin-left: 0.4vw;
    width: 94vw;
}

.innersection {
	background-color: rgba(0, 0, 0, 0.85);
	margin: 3px 3px 18px 3px;
	padding: 6px 7px 7px 9px;
	width: 95.8vw;
}

.innersection h5 a{
	color: #708cdb;
}

.headerbox {
	/*background-color: rgba(0, 0, 0, 0.76);*/
	margin: 0 0 1px -9px;
	padding: 6px 6px 6px 6px;	
	width: 92vw;
}

.headerboxcolor {
	background-color: rgba(0, 0, 0, 0.76);
	margin: -6px 0 1px -9px;
	padding: 6px 6px 6px 6px;	
	width: 92vw;
}

.outerheader {
	background-color: rgba(0, 0, 0, 0.86);
	margin: 0 0 1px 0;
	padding: 6px 6px 6px 6px;	
	width: 100%;	
}

#lyrics {
	background-color: #0b2117;
	text-align: center;
	width: fit-content;
	padding: 10px;
  	margin-left: auto;
  	margin-right: auto;
	border: solid 3px #000000;
}

.footer {
	padding: 5px 5px 5px 20px;
	background-color: black;
	border: 1px solid white;
	margin: -10px;
}

@media (min-width: 523px) {
    .bodytext {
		width: 75vw;
    }
	.headerbox {
		width: 74vw;
	}
	.innersection {
		width: 75.5vw;
	}
}

@media (522px < width < 900px){
	.bodytext {
		margin-left: 21vw;
		width: 75vw;
	}
}

@media (min-width: 900px) {
	.bodytext {
		width: calc(100vw - 225px);
		margin-left: 200px;
	}
	.headerbox {
		width: calc(100vw - 232px);
	}
	.innersection {
		width: calc(100vw - 230px);
	}
}
