body {
	background-color: #1d1d1d;
}

.image {
	width: 100%;
	margin-right: 0;
	/*display: none;*/
}

.image img {
	width: inherit;
	margin-right: 10px;
	border: 5px solid black;
}

.image1 {
	width: 100%;
	margin-right: 0;
}

.image1 img {
	width: inherit;
	margin-right: 10px;
	/*display: none;*/
}

.image2 {
	width: 100%;
	margin-right: 0;
}

.image2 img {
	width: inherit;
	margin: 10px 0 10px 0;
	display: block;
}

.linkimage {
	width: 100%;
	margin-right: 0;
}

.linkimage img {
	width: inherit;
	margin-right: 10px;
	border: 5px solid black;
}
.openerimage {
	width: 100%;
	margin-right: 0;
}
.openerimage img {
	display: none;
	width: 92vw;
	margin-right: 10px;
	border: 5px solid black;
}
.openerversion {
	width: 100%;
	margin-right: 0;
}

.openerversion img {
	width: 91vw;
	margin-right: 10px;
	border: 5px solid black;
}

.linkimage a {
	width: inherit;
	margin-right: 10px;
}
.imgrt img {
	position: absolute;
	margin-right: 1vw;
	display: none;
}

.imglt img {
	display: none;
	float: left;
	margin: 5px 0 0 1vw;
	padding: 6px;
	width: 40vw;
}

.imagenoborder {
	width: 100%;
	margin-right: 0;
}

.imagenoborder img {
	width: 84vw;
}

.imagenoborder1 {
	width: 100%;
	margin-right: 0;
}

.imagenoborder1 img {
	width: 94vw;
}

.imagelarge {
	width: 100%;
	margin-right: 0;
	display: none;
}

.imagelarge img {
	width: 73.5vw;
}

.listimage img {
	width: 100%;

	margin: 0 auto;
}

.outerimage img {
	margin-left: 2px;
	width: 87vw;
	border: 5px solid black;
	display: block;
	margin-right: 1px;
	margin-bottom: 10px;
}

.businessimage {
	width: 100%;
	margin-right: 0;
}

.businessimage1 {
	width: 100%;
	margin-right: 0;
}

.businessimage img {
	width: 94vw;
	background-color: black;
	border: 5px solid white;
}

.businessimage1 img {
	width: 94vw;
	border: 5px solid white;
}

.vehicles img {
	width: 47vw;
	border: 5px solid black;
}

.bigimage img {
	width: 100%;
}

@media (min-width: 523px) {
	.image img {
		width: 60vw;
		margin: 0 0 0 7vw;
	}

	.openerimage img {
		display: block;
		width: 73.3vw;
		margin: 0 0 0 0.5vw;
	}
	.openerversion img {
		display: none;
	}
	.listimage img {
		width: 30vw;
	}
	.vehicles img {
		width: 37.5vw;
	}
	.businessimage {
		width: 75vw;
		display: flex;
	}
	.businessimage img {
		width: 35.5vw;
		margin: 5px;
	}
	.businessimage1 {
		width: 74vw;
	}
	.businessimage1 img {
		width: 73vw;
		margin: 5px;
	}
	.outerimage img {
		width: 60vw;
		margin: 0 0 0 8.5vw;
		display: none;
	}

	.imagenoborder img {
		width: 73vw;
	}
	.imagenoborder1 img {
		width: 73vw;
	}
}

@media (min-width: 680px) {
	.businessimage {
		width: 75vw;
		display: flex;
	}
	.businessimage img {
		width: 36vw;
		margin: 5px;
	}
	.businessimage1 {
		width: 75vw;
		display: flex;
	}
	.businessimage1 img {
		width: 36vw;
		margin: 5px;
	}
	.imagenoborder1 img {
		display: none;
	}
	.imagelarge {
		display: block;
	}
	.image1 img {
		display: block;
	}
	.image2 img {
		display: none;
	}
}

@media (min-width: 900px) {
	.image img {
		width: calc(80vw - 225px);
		margin: 0 0 0 8.7vw;
	}
	.vehicles img {
		width: calc((100vw - 225px) / 2);
	}
	.businessimage {
		width: calc(100vw - 225px);
		display: flex;
		padding: 10px;
	}
	.businessimage img {
		width: calc((100vw - 265px) / 2);
		margin: 5px;
	}
	.businessimage1 {
		width: calc(100vw - 225px);
		display: flex;
		padding: 10px;
	}
	.businessimage1 img {
		width: calc((100vw - 265px) / 2);
		margin: 5px;
	}
	.outerimage img {
		margin-left: calc((100vw - 225px) / 4);
		width: calc((100vw - 225px) / 2);
		/*display: none;*/
	}
	.openerimage img {
		width: calc(100vw - 260px);
	}
	imgrt img {
		display: block;
	}

	imglt img {
		display: block;
		width: 50vw;
	}
}
