body {
	background-color: #1D1D1D;
}
.image {
	width: 100%;
	margin-right: 0;
}

.image img {
	width: 94vw;
	border: 5px solid black;
}

.imgrt img{
	position: absolute;
	margin-right: 1vw;
	display: none;
}

.imglt img{
	display: none;
    float: left;
	margin: 5px 0 0 1vw;
	padding: 6px;
	width: 40vw;
}

.imagenoborder {
	width: 100%;
	margin-right: 0;
}

.imagenoborder img{
	width: 94vw;
}

.outerimage img {
	margin-left: 2px;
	width: 95.8vw;
	border: 5px solid black;
	display: block;
}

.businessimage {
	width: 100%;
	margin-right: 0;
}

.businessimage1 {
	width: 100%;
	margin-right: 0;
}

.businessimage img {
	width: 94vw;
	background-color: black;
	border: 5px solid white;
}

.businessimage1 img {
	width: 94vw;
	border: 5px solid white;
}

.vehicles img {
	width: 47vw;
	border: 5px solid black;	
}

.bigimage img{
	width: 100%;
}

@media (min-width: 523px) {
	.image img {
		width: 60vw;
		margin: 0 0 0 7vw;
	}
    .vehicles img {
        width: 37.5vw;
    }
	.businessimage {
		width: 75vw;
		display: flex;
	}
	.businessimage img{
		width: 35.5vw;
		margin: 5px;
	}
	.businessimage1 {
		width: 74vw;
	}
	.businessimage1 img{
		width: 73vw;
		margin: 5px;
	}
	.outerimage img {
		width: 60vw;
		margin: 0 0 0 8.5vw;
	}

	.imagenoborder img{
		width: 73vw;
	}

}

@media (min-width: 680px) {
	.businessimage {
		width: 75vw;
		display: flex;
	}
	.businessimage img{
		width: 36vw;
		margin: 5px;
	}
	.businessimage1 {
		width: 75vw;
		display: flex;
	}
	.businessimage1 img{
		width: 36vw;
		margin: 5px;
	}
}

@media (min-width: 900px) {
	.image img {
		width: calc(80vw - 225px);
		margin: 0 0 0 8.7vw;
	}
	.vehicles img{
		width: calc((100vw - 225px)/2);
	}
	.businessimage {
		width: calc(100vw - 225px);
		display: flex;
		padding: 10px;
	}
	.businessimage img{
		width: calc((100vw - 265px)/2);
		margin: 5px;
	}
	.businessimage1 {
		width: calc(100vw - 225px);
		display: flex;
		padding: 10px;
	}
	.businessimage1 img{
		width: calc((100vw - 265px)/2);
		margin: 5px;
	}
	.outerimage img {
		margin-left: calc((100vw - 225px)/4);
		width: calc((100vw - 225px)/2);
		/*display: none;*/
	}
	
	imgrt img{
		display: block;
	}
	
	imglt img{
		display: block;
		width: 50vw;
	}
}
