/* Firefox */
.side {
	scrollbar-width: thin; /* or "auto" or "none" */
	scrollbar-color: #8f54a0 #000000;
}

/* Webkit (Chrome, Edge, Safari) */
.side::-webkit-scrollbar {
	width: 8px; /* or any px value you want */
}

.side::-webkit-scrollbar-track {
	background: #000000;
}

.side::-webkit-scrollbar-thumb {
	background-color: #8f54a0;
	border-radius: 10px;
	border: 2px solid #000000;
}
