.side_header {
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
	color: white;
	line-height: 25px;
}

.my_class {
	color: #565e65;
	display: none;
}

#logo {
	/*	margin-left: 1vw;*/
	width: 17.5vw;
	margin-top: 1px;
	margin-bottom: 0;
}

.logolink a:hover {
	margin: 0;
}

.sideheader {
	background-color: #343439;
	margin: 0;
	padding: 6px;
	font-family: courier new;
	font-weight: 100;
}
.sidenav {
	width: 20vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow: hidden;
	/*padding: 0 0 10px 5px;*/
	height: 25vh;
	display: none;
	margin: 0;
	padding: 5px 5px 0 5px;
	/*	margin-bottom: 20px;*/
	/*	bottom: 20px;*/
}

.side {
	width: 20vw;
	position: fixed;
	z-index: 1;
	top: 25vh;
	left: 0;
	background-color: #111;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 75vh;
	margin: 0;
	padding: 2px 2px 21px 2px;
}

.side a {
	padding: 6px 6px 6px 12px;
	text-decoration: none;
	display: block;
	width: calc(20vw - 10px);
	cursor: pointer;
}

.dropdown-btn {
	background-color: #111;
	width: calc(20vw - 16px);
	font-family: courier new;
	padding: 5px 5px 5px 8px;
	font-size: 2vw;
	color: #686877;
	display: block;
	border: none;
	text-align: left;
	cursor: pointer;
}

.dropdown-btn:hover {
	background-color: #1f1f22;
}

.dropdown-btn:active {
	font-size: 2.5vw;
	margin-top: 5px;
}

.sidenav img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	image-rendering: pixelated;
}

/*
.sidenav a:hover,
.dropdown-btn:hover {
	color: #f1f1f1;
}


.sidenav a:hover {
	color: #f1f1f1;
	background-color: #1a1a1a;
	outline: 0.5px solid white;
	padding-left: 12px;
	max-width: calc(20vw - 10px);
}
*/

/* Add an active class to the active dropdown button */
.active {
	background-color: #5a5a64;
	color: white;
	width: calc(20vw - 20px);
}
.active:hover {
	background-color: #757583;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #2a2a30;
	width: calc(20vw - 20px);
	margin-right: 5px;
	border-right: 0.5px solid white;
	border-left: 0.5px solid white;
	border-bottom: 0.5px solid white;
}

.dropdown-container-open {
	display: block;
	background-color: #272727;
	padding: 0 8px 0 8px;
	margin-right: 5px;
	width: calc(20vw - 10px);
}

.dropdown-container a,
.dropdown-container-open a {
	font-size: 1.7vw;
	padding: 3px 0 3px 14px;
	color: #777785;
	width: calc(20vw - 23px);
	font-family: courier;
}

.dropdown-container a:hover {
	background-color: #000000;
	outline: 0.5px solid #ffffff;
	width: calc(20vw - 21px);
	padding: 10px;
	color: #f1f1f1;
	font-size: 2vw;
}

.thispage {
	background-color: #e6ff5f;
	outline: 1px solid white;
	padding: 3px 0 3px 0;
	width: calc(20vw - 22px);
}

.thispage a:hover {
	/*padding: 3px 12px 3px 3px;*/
	margin-left: 3px;
	border: none;
	width: calc(20vw - 27px);
	font-size: 2vw;
}

.thispage a {
	/*font-weight: 503;*/
	color: #000000;
	font-size: 1.9vw;
}

/* Optional: Style the caret down icon */

.fa-caret-down {
	float: right;
	padding-top: 5px;
	padding-right: 12px;
	color: white;
	font-size: 15px;
}

.fa-caret-right {
	float: right;
	padding-top: 5px;
	padding-right: 16px;
	color: white;
	font-size: 15px;
}

@media (min-width: 523px) {
	.sidenav {
		display: block;
	}
}

@media (min-width: 735px) {
	.sidenav {
		height: 27vh;
	}

	.side {
		top: 27vh;
	}
}

@media (min-width: 801px) {
	.sidenav a,
	.dropdown-btn {
		font-size: 13px;
	}

	.dropdown-container a,
	.dropdown-container-open a {
		font-size: 15px;
	}
	.active {
		font-size: 19px;
	}
}

@media (min-width: 900px) {
	#logo {
		width: 160px;
		margin-left: 10.14px;
		margin-top: 10.14px;
	}
	.sidenav {
		width: 187px;
		height: 207px;
	}
	.side {
		width: 187px;
		top: 207px;
		height: calc(100vh - 207px);
		padding: 0 1px 18px 1px;
	}
	.thispage {
		width: 170px;
	}
	.thispage a:hover {
		width: 170px;
	}
	.dropdown-btn {
		max-width: 171px;
	}
	.dropdown-container {
		max-width: 170px;
	}
	.dropdown-container a:hover {
		max-width: 170px;
	}
	.side_header {
		font-size: 21px;
	}
	.sideheader {
		font-size: 23px;
	}
	.side a,
	.dropdown-btn {
		width: 170px;
	}
	.fa-caret-down {
		padding-right: 12px;
	}
	.fa-caret-right {
		padding-right: 12px;
	}
}
