a {
	transition: color 1s;
	text-decoration: none;
	color: #708cdb;
	cursor: auto;
}

a:hover {
	color: #7b5cf9;
	transition: color 0s;
}

a:-webkit-any-link {
	color: #8ee1e5;
	text-decoration: none;
	cursor: pointer;
}

h6 a:-webkit-any-link {
	/*color: #9d87f2;*/
	color: #708cdb;
}
li {
	font-size: 4vw;
	font-family: spectral, garamond;
}
ol li {
	margin: 15px 3px;
}
p {
	font-size: 4.5vw;
	font-family: spectral, garamond;
	margin-bottom: 6.5px;
	/*color: whitesmoke;*/
	color: #ffffff;
}
h1 {
	font-size: 9vw;
	text-align: center;
	margin: 0;
	padding: 6px;
	font-family: "Averia Serif Libre", garamond;
	color: white;
	background-color: rgba(0, 0, 0, 0.89);
}

h2 {
	font-size: 7vw;
	color: white;
	margin: 5px;
	letter-spacing: 0.1rem;
	font-weight: 800;
	font-family: caudex, Georgia;
}

h3 {
	font-size: 6vw;
	text-align: center;
	margin: 0;
	margin-left: -5px;
	letter-spacing: 0.05rem;
	font-family: caudex, Georgia;
	color: white;
	text-decoration: none;
}
h4 {
	font-size: 5vw;
	padding: 0;
	margin: 5px;
	font-family: caudex, georgia;
	text-align: center;
	color: white;
}

h4 a {
	font-size: 5vw;
}
h5 {
	font-size: 4vw;
	padding: 0;
	margin: 5px;
	font-family: caudex, georgia;
	color: white;
}

h6 {
	margin: 6px;
	margin-left: 40px;
	font-size: 3vw;
	/*
	margin-left: 18px;
	font-size: 15px;
	*/
}

.index p {
	font-size: 2.7vw;
	padding: 0;
	margin: 0;
}
.index h3 {
	width: 230px;
	margin-left: 5px;
}

.index h6 {
	margin-left: 3px;
	font-size: 18px;
}

@media (min-width: 423px) {
	p {
		font-size: 3.5vw;
	}
}
@media (min-width: 523px) {
	p {
		font-size: 2vw;
	}
	li {
		font-size: 2vw;
	}
	h1 {
		font-size: 8vw;
		width: auto;
	}
	h2 {
		font-size: 4vw;
	}
	h3 {
		font-size: 4vw;
	}
	h4 {
		font-size: 3vw;
	}

	h5 {
		font-size: 2.5vw;
	}
	h6 {
		font-size: 1vw;
	}

	.indextitle h3 {
		margin-left: 0;
		width: auto;
		font-size: 2.5vw;
	}
}

@media (min-width: 650px) {
	.index p {
		font-size: 1.7vw;
	}
}

@media (min-width: 900px) {
	p {
		font-size: 1.7vw;
	}
	li {
		font-size: 1.9vw;
	}
	h1 {
		font-size: 7.5vw;
		width: calc(100vw - 241px);
	}
	h2 {
		font-size: 3vw;
	}
	h3 {
		font-size: 2.5vw;
	}
	h4 {
		font-size: 2vw;
	}

	h5 {
		font-size: 1.5vw;
	}
	h6 {
		font-size: 1vw;
	}
}

@media (min-width: 1200px) {
	p {
		font-size: 1.2vw;
	}
	li {
		font-size: 1.5vw;
	}
}
